@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer components {
  /* Calculator Button */
  .calculator-button {
    @apply 
      w-16 h-16
      flex justify-center items-center
      rounded
      bg-slate-400
      text-sky-50
      font-semibold
      text-xl
      shadow-md
      cursor-pointer
      /* hover:bg-slate-400 */
      hover:scale-95
      active:scale-90
      transition-all ease-in-out duration-100
      ;
  }

  /* Calculator Display */
  .calculator-display {
    @apply 
      h-24
      flex justify-end items-center
      rounded
      bg-slate-600
      text-sky-50
      font-medium
      text-2xl
      shadow-md
      ;
  }
  .calculator-display-input {
    @apply 
      p-2
      h-24
      rounded
      bg-slate-600
      text-sky-50
      font-medium
      text-right
      text-2xl
      shadow-md
      ;
  }
}